<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <title> Focus </title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <link href="../public/album.css" rel="stylesheet" />

</head>

<style>
  body {
    background-color: rgb(53, 53, 53);
  }

  .container {
    background-color: rgb(56, 67, 83);
    color: white !important;
    overflow: hidden;
    padding: 0;
    min-height: 100%;
  }

  .btn {
    background-color: rgb(25, 211, 170);
    color: white;
    border: none;
    margin: 2px;
  }

  .table {
    color: white !important;
  }

  #footer {
    background-color: rgb(21, 31, 46) !important;
    color: white !important;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }

  .btn-danger {
    background-color: rgb(235, 92, 92) !important;
  }

  #actionHeader {
    text-align: center;
  }
</style>

<body>
  <main role="main">
    <%- include('common/header'); -%>
      <div class="container min-vh-100">

        <% if (message) { %>
          <div class="row justify-content-md-center">
            <div class="alert alert-primary" role="alert">
              <%= message %>
            </div>
          </div>

          <% } %>


            <div class="col-md-12 col-md-offset-2  justify-content-center">
              <h1 class="mx-auto"> This Week's Tasks </h1>

            </div>

            <div class="col-md-12 col-md-offset-2">

              <table class="table table-striped custab">
                <thead>
                  <tr>
                    <th>Task</th>
                    <th>Date Due</th>
                    <th id="actionHeader">Actions</th>
                  </tr>

                  <% tasks.forEach(task=> {

                    %>

                    <tr>
                      <td>
                        <%= task.text %>
                      </td>
                      <td>
                        <%= task.deadline %>
                      </td>
                      <td class="text-center"><a class='btn btn-info btn-xs' href="/weekly/edit-task/<%= task.id %>"><span
                            class="glyphicon glyphicon-edit"></span>
                          Edit</a>
                        <a href="/weekly/delete/<%= task.id %>" class="btn btn-danger btn-xs"><span
                            class="glyphicon glyphicon-remove"></span> Del</a>
                      </td>
                    </tr>

                    <% }); %>
                </thead>
              </table>

            </div>
  </main>
  <%- include('common/footer') -%>
</body>

</html>